/* Our default values set as CSS variables */
:root {
	--color-bg: #f9faff;
	--color-bg-dark: #333333;
	--color-text-primary: #828282;
	--color-text-secondary: #333333;
	--color-primary: #928df1;
	--color-secondary: #fdc435;
}

/* Basic page style resets */
* {
	box-sizing: border-box;
}

ul li {
	list-style-type: none;
}

ul {
	padding: 0;
}

body {
	font-family: "Poppins";
	color: var(--color-text-primary);
	background-color: var(--color-bg);
	margin: 0;

	/* dark theme */
	/* background-color: var(--color-bg-dark); */
}

h1,
h2,
h3,
h4 {
	color: var(--color-text-secondary);
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

.instagram {
	background-image: url("assets/social/github.png");
}

.header-content {
	background-color: var(--color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.header-logo {
	margin-left: 20px;
}

.header-links {
	display: flex;
	margin: 0;
}

.header-links li a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
	font-size: 20px;
}

.wrapper {
	padding: 40px 0;
}

/* .title,
.intro div p,
.heading,
.project-card-content h3,
.project-card-content p {
	color: var(--color-bg);
} */
