/* Our default values set as CSS variables */
:root {
	--color-bg: #f9faff;
	--color-bg-dark: #333333;
	--color-text-primary: #828282;
	--color-text-secondary: #333333;
	--color-primary: #928df1;
	--color-secondary: #fdc435;
}

/* Basic page style resets */
* {
	box-sizing: border-box;
}

ul li {
	list-style-type: none;
}

ul {
	padding: 0;
}

body {
	font-family: "Poppins";
	color: var(--color-text-primary);
	background-color: var(--color-bg);
	margin: 0;
}

h1,
h2,
h3,
h4 {
	color: var(--color-text-secondary);
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

.instagram {
	background-image: url("assets/social/github.png");
}

.header-content {
	background-color: var(--color-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.header-logo {
	margin-left: 20px;
}

.header-links {
	display: flex;
	margin: 0;
}

.header-links li a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
	font-size: 20px;
}

.wrapper {
	padding: 40px 0;
}

.themeButton {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-size: 100%;
	background-image: url("./assets/themes/dark.png");
}

.themeButton:hover {
	transform: scale(1.1);
	transition: all 0.4s;
}

.languageButton {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: fixed;
	bottom: 20px;
	right: 100px;
	background-size: 100%;
	background-image: url("./assets/translations/pt.png");
}

.languageButton:hover {
	transform: scale(1.1);
	transition: all 0.4s;
}
